---
import MainLayout from '../layouts/MainLayout.astro';
const allPosts = Object.values(import.meta.glob('./posts/*.md', { eager: true }));
---

<MainLayout title="Home">
    <h1>Hi, I'm Natalia 👋</h1>
    <p>Economics student at William & Mary. I love lifting and great music.</p>

    <hr />

    <h2>Latest Posts</h2>
    <div class="grid">
        {allPosts.map(post => (
            <article>
                <header>{post.frontmatter.title}</header>
                <p>Reading time: 2 mins</p>
                <footer>
                    <a href={post.url} role="button" class="outline">Read Post</a>
                </footer>
            </article>
        ))}
    </div>
</MainLayout>
        <p><strong>Education:</strong> {education}</p>
    </div>

    <h2>My Interests</h2>
    <ul>
        {interests.map((item) => <li>{item}</li>)}
    </ul>
</body>
</html>
